src/main/resources/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://polygon.co.za/model" 
        xmlns:tns="http://polygon.co.za/model" 
        elementFormDefault="qualified">

    <element name="UserQueryModel">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="userName" type="string"></element>
                <element name="role" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
    <element name="UserCommandModel">
        <complexType>
            <sequence>
                <element name="userName" type="string"></element>
                <element name="password" type="string"></element>
                <element name="role" type="string"></element>
            </sequence>
        </complexType>
    </element>

    <element name="ProductQueryModel">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="name" type="string"></element>
                <element name="description" type="string"></element>
                <element name="image" type="string"></element>
            </sequence>
        </complexType>
    </element>


	<element name="QuestionnaireQuery">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="sequenceNumber" type="long"></element>
                <element name="question"   type="string"></element>
                <element name="answerType" type="string"></element>
                <element name="dependsOn"  type="long"     minOccurs="0"></element>
                <element name="onAnswer"   type="string"   minOccurs="0"></element>
                <element name="answerValues" type="string" minOccurs="0" maxOccurs="unbounded"></element>                
            </sequence>
        </complexType>
    </element>  
    
    <element name="BrokerQueryModel">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="brokerCode" type="string"></element>
                <element name="brokerName"   type="string"></element>
                <element name="brokerEmail" type="string"></element>  
            </sequence>
        </complexType>
    </element>  
    
</schema>