src/main/resources/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://polygon.co.za/model" 
        xmlns:tns="http://polygon.co.za/model" 
        elementFormDefault="qualified">

    <element name="UserQueryModel">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="userName" type="string"></element>
                <element name="role" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
    <element name="UserCommandModel">
        <complexType>
            <sequence>
                <element name="userName" type="string"></element>
                <element name="password" type="string"></element>
                <element name="role" type="string"></element>
            </sequence>
        </complexType>
    </element>

    <element name="ProductQueryModel">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="name" type="string"></element>
                <element name="description" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
   
    <element name="ProductDetailsQuestionnaries">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="name" type="string"></element>
                <element name="maxAmount" type="string"></element>
                <element name="totalFullValue" type="boolean"></element>
                <element name="additionalPremium" type="boolean"></element>
                <element name="professionalvaluableService" type="boolean"></element>
                <element name="numbersOfTransit" type="boolean"></element>
                <element name="vaultDetails" type="string"></element>
                <element name="safetyCategory" type="string"></element>
                <element name="vaultStorage" type="boolean"></element>
                <element name="sasriaCover" type="boolean"></element>
            </sequence>
        </complexType>
    </element>
    
    <element name="TotallFullValue">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="name" type="string"></element>
                <element name="status" type="string"></element>
                <element name="value" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
    <element name="AdditionalPremium">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="name" type="string"></element>
                <element name="status" type="string"></element>
                <element name="value" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
    <element name="ProfessionalServiceCarriers">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="name" type="string"></element>
                <element name="description" type="string"></element>
                <element name="status" type="string"></element>
                <element name="value" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
    <element name="TransitDetails">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="startingpoint" type="string"></element>
                <element name="endingpoint" type="string"></element>
                <element name="noOfKms" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
    <element name="VaultDetails">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="seismicDetectors" type="string"></element>
                <element name="cctv" type="string"></element>
                <element name="alarm" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
    <element name="VaultStorage">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="status" type="string"></element>
                <element name="value" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
    <element name="SasriaCover">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="status" type="string"></element>
                <element name="value" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
    <element name="GoodsNotStoredInVault">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="status" type="string"></element>
                <element name="typeOfStorage" type="string"></element>
                <element name="address" type="string"></element>
                <element name="others" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
    <element name="SafetyCategory">
        <complexType>
            <sequence>
                <element name="id" type="long"></element>
                <element name="noSABSGrading" type="string"></element>
                <element name="sabsCategory1" type="string"></element>
                <element name="sabsCategory2" type="string"></element>
                <element name="sabsCategory2HDGrading" type="string"></element>
                <element name="sabsCategory2ADMGrading" type="long"></element>
                <element name="sabsCategory2ADMGradingG3" type="string"></element>
                <element name="sabsCategory3" type="string"></element>
                <element name="sabsCategory4" type="string"></element>
            </sequence>
        </complexType>
    </element>
    
</schema>