src/main/resources/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://reverside.co.za/model"
	xmlns:tns="http://reverside.co.za/model" elementFormDefault="qualified">

	<element name="UserQueryModel">
		<complexType>
			<sequence>
				<element name="id" type="long"></element>
				<element name="userName" type="string"></element>
				<element name="firstName" type="string"></element>
				<element name="lastName" type="string"></element>
				<element name="role" type="string"></element>
			</sequence>
		</complexType>
	</element>
        
        <element name="CarrierQueryModel">
		<complexType>
			<sequence>
				<element name="id" type="long"></element>
				<element name="description" type="string"></element>
			</sequence>
		</complexType>
	</element>
        
        <element name="CarrierCommandModel">
		<complexType>
			<sequence>
				<element name="description" type="string"></element>
			</sequence>
		</complexType>
	</element>

	<element name="ProductQueryModel" type="tns:ProductQueryModel" />
	<complexType name="ProductQueryModel">
		<sequence>
			<element name="id" type="long"></element>
			<element name="name" type="string"></element>
			<element name="description" type="string"></element>
			<element name="image" type="string"></element>
		</sequence>
	</complexType>

	<element name="QuestionnaireQuery">
		<complexType>
			<sequence>
				<element name="id" type="long"></element>
				<element name="sequenceNumber" type="long"></element>
				<element name="question" type="string"></element>
				<element name="answerType" type="string"></element>
				<element name="dependsOn" type="long" minOccurs="0"></element>
				<element name="onAnswer" type="string" minOccurs="0"></element>
				<element name="answerValues" type="string" minOccurs="0"
					maxOccurs="unbounded">
				</element>
				<element name="isRequired" type="boolean"></element>
			</sequence>
		</complexType>
	</element>

	<element name="BrokerQueryModel" type="tns:BrokerQueryModel" />
	<complexType name="BrokerQueryModel">
		<sequence>
			<element name="id" type="long"></element>
			<element name="code" type="string"></element>
			<element name="name" type="string"></element>
			<element name="email" type="string"></element>
		</sequence>
	</complexType>

	<element name="QuotationRequestQueryModel" type="tns:QuotationRequestQueryModel" />
	<complexType name="QuotationRequestQueryModel">
		<sequence>
			<element name="reference" type="string" />
			<element name="status" type="string" />
			<element name="createDate" type="string" />
			<element name="companyName" type="string" />
			<element name="applicantName" type="string" />
			<element name="applicantEmail" type="string" />
			<element name="modeOfCoverage" type="string" />
			<element name="policyInceptionDate" type="string" />
			<element name="policyEndDate" type="string" />
			<element name="insuredStatus" type="string" />
			<element name="sasria" type="string" />
			<element name="commodity" type="string"/>
			<element name="coverAmount" type="string"/>
			<element name="makeModel" type="string"/>
			<element name="classOfuse" type="string"/>
			<element name="yearOfManufacture" type="string"/>
			<element name="coverType" type="string"/>
			<element name="pensionerStatus" type="string"/>
			<element name="agreedFlag" type="string"/>			
			
			<element name="product" minOccurs="0" maxOccurs="1"
				type="tns:ProductQueryModel" />
			<element name="broker" minOccurs="0" maxOccurs="1"
				type="tns:BrokerQueryModel" />
			<element name="questionnaire" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="question" type="string" />
						<element name="answer" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="histories" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="id" type="long" />
						<element name="eventDate" type="string" />
						<element name="typeOfLoss" type="string" />
						<element name="lossValue" type="double" />
					</sequence>
				</complexType>
			</element>
			<element name="locationOptions" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="id" type="long" />
						<element name="commodity" type="string" />
						<element name="distance" type="string" />
						<element name="fromLocation" type="string" />
						<element name="toLocation" type="string" />
						<element name="limit" type="double" />
						<element name="staticLimit" type="double" />
						<element name="sabsCategory" type="string" />
						<element name="professionalCarriers" type="string" />
						<element name="duration" type="string" />
						<element name="staticMaxAmount" type="string" />
						<element name="totalValue" type="string" />
						<element name="transitTotalValue" type="string" />
						<element name="totalValueStatic" type="string" />
						<element name="isFirstLossCover" type="string" />
						<element name="isServiceCarrier" type="string" />
						<element name="carrierName" type="string" />
						<element name="specificCarrier" type="string" />
						<element name="goodsDescription" type="string" />
						<element name="isStoreVault" type="string" />
						<element name="isConcreteSecured" type="string" />
						<element name="isSeismicDetector" type="string" />
						<element name="isCctv" type="string" />
						<element name="isAlarmed" type="string" />
						<element name="isGoodsMoved" type="string" />
						<element name="isGoodsMovedStatic" type="string" />
						<element name="storageType" type="string" />
						<element name="vaultAddress" type="string" />
						<element name="otherSecureMeans" type="string" />

					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>


	<element name="SelectedQuotationQueryModel" type="tns:SelectedQuotationQueryModel" />
	<complexType name="SelectedQuotationQueryModel">
		<sequence>
			<element name="quotation" minOccurs="0" maxOccurs="1"
				type="tns:QuotationQueryModel" />
			<element name="selectedQuotation" minOccurs="0" maxOccurs="1"
				type="tns:QuotationOptionQueryModel" />
		</sequence>
	</complexType>

	<element name="QuotationQueryModel" type="tns:QuotationQueryModel" />
	<complexType name="QuotationQueryModel">
		<sequence>
			<element name="quotationId" type="long" />
			<element name="createdDate" type="string" />
            <element name="note" type="string" />
			<element name="quotationRequest" minOccurs="0" maxOccurs="1"
				type="tns:QuotationRequestQueryModel" />
			<element name="cover" type="string" />
			<element name="premium" type="string" />
			<element name="option" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="quotationOptionId" type="long" />
						<element name="location" type="string" />
						<element name="commodity" type="string" />
						<element name="limit" type="string" />
						<element name="cover" type="string" />
						<element name="duration" type="string" />
						<element name="excess" type="string" />
						<element name="premium" type="string" />
						<element name="pavement" type="string" />
						<element name="staticLimit" type="string" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<element name="QuotationOptionQueryModel" type="tns:QuotationOptionQueryModel" />
	<complexType name="QuotationOptionQueryModel">
		<sequence>
			<element name="quotationOptionId" type="long" />
			<element name="location" type="string" />
			<element name="commodity" type="string" />
			<element name="limit" type="string" />
			<element name="cover" type="string" />
			<element name="duration" type="string" />
			<element name="excess" type="string" />
			<element name="premium" type="string" />
			<element name="pavement" type="string" />
			<element name="staticLimit" type="string" />
		</sequence>
	</complexType>

	<element name="PolicyRequestQueryModel">
		<complexType>
			<sequence>
				<element name="quotation" minOccurs="0" maxOccurs="1"
					type="tns:QuotationQueryModel" />
				<element name="companyRegNumber" type="string" />
				<element name="vatRegNumber" type="string" />
				<element name="telephoneNumber" type="string" />
				<element name="faxNumber" type="string" />
				<element name="streetAddress" type="string" />
				<element name="suburb" type="string" />
				<element name="postalCode" type="string" />
				<element name="designation" type="string" />
				<element name="buisnessDesc" type="string" />
				<element name="representive" type="string" />
				<element name="accountHolder" type="string" />
				<element name="accountName" type="string" />
				<element name="bankName" type="string" />
				<element name="accountNumber" type="string" />
				<element name="branchCode" type="string" />
				<element name="accType" type="string" />
				<element name="debitOrderDate" type="string" />
				<element name="bankStatement" type="hexBinary" />
				<element name="status" type="string" />
			</sequence>
		</complexType>
	</element>

	<element name="BankAccountQueryModel" type="tns:BankAccountQueryModel" />
	<complexType name="BankAccountQueryModel">
		<sequence>
			<element name="id" type="long"></element>
			<element name="account_number" type="string"></element>
			<element name="accountName" type="string"></element>
			<element name="branch" type="string"></element>
			<element name="bankName" type="string"></element>
			<element name="accountType" type="string"></element>
		</sequence>

	</complexType>



	<element name="ContactQueryModel" type="tns:ContactQueryModel" />
	<complexType name="ContactQueryModel">
		<sequence>
			<element name="id" type="long"></element>
			<element name="email" type="string" />
			<element name="contact_person" type="string" />
			<element name="street" type="string" />
			<element name="code" type="string" />
			<element name="suburb" type="string" />
			<element name="work_tel_number" type="string" />
			<element name="fax_number" type="string" />
		</sequence>
	</complexType>

	<element name="ClientQueryModel" type="tns:ClientQueryModel" />
	<complexType name="ClientQueryModel">
		<sequence>
			<element name="clientId" type="long" />
			<element name="clientName" type="string" />
			<element name="regNumber" type="string" />
			<element name="incomeTaxNumber" type="string" />
			<element name="designation" type="string" />
			<element name="vatNumber" type="string" />
			<element name="bankAccounts" minOccurs="0" maxOccurs="1"
				type="tns:BankAccountQueryModel" />
			<element name="contact" minOccurs="0" maxOccurs="1"
				type="tns:ContactQueryModel" />
		</sequence>
	</complexType>

	<element name="UnderwriterQueryModel" type="tns:UnderwriterQueryModel" />
	<complexType name="UnderwriterQueryModel">
		<sequence>
			<element name="id" type="long" />
			<element name="firstName" type="string" />
			<element name="middleName" type="string" />
			<element name="lastName" type="string" />
			<element name="email" type="string" />
		</sequence>
	</complexType>

	<element name="SubAgentQueryModel" type="tns:SubAgentQueryModel" />
	<complexType name="SubAgentQueryModel">
		<sequence>
			<element name="id" type="long" />
			<element name="broker" minOccurs="0" maxOccurs="1"
				type="tns:BrokerQueryModel" />
			<element name="firstName" type="string" />
			<element name="middleName" type="string" />
			<element name="lastName" type="string" />
			<element name="email" type="string" />
		</sequence>
	</complexType>

	<element name="PolicyQueryModel" type="tns:PolicyQueryModel" />
	<complexType name="PolicyQueryModel">
		<sequence>
			<element name="id" type="long" />
			<element name="reference" type="string" />
			<element name="inceptionDate" type="string" />
			<element name="policyInceptionDate" type="string" />
			<element name="anniversaryDate" type="string" />
			<element name="productName" type="string" />
			<element name="renewalDate" type="string" />
			<element name="underwritingYear" type="long" />
			<element name="status" type="string" />
			<element name="frequency" type="string" />
			<element name="sasriaFrequency" type="string" />
			<element name="device" type="string" />
			<element name="collectByDebitOrder" type="boolean" />
			<element name="excludeSasria" type="boolean" />
			<element name="endorsementDate" type="string" />
			<element name="notes" type="string" />
			<element name="client" minOccurs="0" maxOccurs="1"
				type="tns:ClientQueryModel" />
			<element name="subAgent" minOccurs="0" maxOccurs="1"
				type="tns:SubAgentQueryModel" />
			<element name="underwriter" minOccurs="0" maxOccurs="1"
				type="tns:UnderwriterQueryModel" />
			<element name="sumInsured" type="double" />
			<element name="maximumSumInsured" type="double" />
			<element name="brokerCommission" type="double" />
			<element name="premium" type="double" />
			<element name="umaFee" type="double" />
			<element name="underwriterCommission" type="double" />
			<element name="policyFee" type="double" />
			<element name="initialFee" type="double" />
			<element name="sasriaPremium" type="double" />
			<element name="scheduleAttaching" type="string" />
			<element name="typeOfCover" type="string" />
			<element name="subjectMatter" type="string" />
			<element name="excessStructure" type="string" />
			<element name="specialCondition" type="string" />
			<element name="conveyances" type="string" />
			<element name="geographicalDuration" type="string" />
			<element name="indemnityOption" minOccurs="0" maxOccurs="unbounded"
				type="tns:IndemnityOptionQueryModel" />
		</sequence>
	</complexType>

	<element name="IndemnityOptionQueryModel" type="tns:IndemnityOptionQueryModel" />
	<complexType name="IndemnityOptionQueryModel">
		<sequence>
			<element name="id" type="long" />
			<element name="indemnityItemOption" type="string" />
			<element name="indemnityValue" type="string" />
			<element name="sumInsured" type="double" />
			<element name="premium" type="double" />
			<element name="pavement" type="double" />
			<element name="staticLimit" type="double" />
                        <element name="note" type="string" />
		</sequence>
	</complexType>


	<element name="UserCommandModel">
		<complexType>
			<sequence>
				<element name="userName" type="string"></element>
				<element name="password" type="string"></element>
				<element name="role" type="string"></element>
			</sequence>
		</complexType>
	</element>

	<element name="BrokerCommandModel" type="tns:BrokerQueryModel" />
	<complexType name="BrokerCommandModel">
		<sequence>
			<element name="id" type="long"></element>
			<element name="code" type="string"></element>
			<element name="name" type="string"></element>
			<element name="email" type="string"></element>
		</sequence>
	</complexType>

	<element name="QuotationRequestCommandModel">
		<complexType>
			<sequence>
				<element name="applicantName" type="string" />
				<element name="companyName" type="string" />
				<element name="applicantEmail" type="string" />
				<element name="brokerId" type="long" />
				<element name="productId" type="long" />
				<element name="accidentInfo" type="string"/>
				<element name="agreedFlag" type="string"/>
				<element name="classOfuse" type="string"/>
				<element name="commodity" type="string"/>
				<element name="coverAmount" type="string"/>
				<element name="coverType" type="string"/>
				<element name="makeModel" type="string"/>
				<element name="overnightParking" type="string"/>
				<element name="pensionerStatus" type="string"/>
				<element name="regdNumber" type="string"/>
				<element name="yearOfManufacture" type="string"/>
				<element name="policyInceptionDate" type="string"/>
				<element name="policyEndDate" type="string"/>
				<element name="modeOfCoverage" type="string"/>
				<element name="sasria" type="string"/>
				<element name="insuredStatus" type="string"/>
				
				<element name="questionnaires" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="question" type="string" />
							<element name="answer" type="string" />
						</sequence>
					</complexType>
				</element>
				<element name="histories" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="eventDate" type="string" />
							<element name="typeOfLoss" type="string" />
							<element name="lossValue" type="double" />
						</sequence>
					</complexType>
				</element>
				<element name="locationOptions" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
                                                        <element name="id" type="long"></element>
							<element name="commodity" type="string" />
							<element name="distance" type="string" />
							<element name="fromLocation" type="string" />
							<element name="toLocation" type="string" />
							<element name="limit" type="double" />
							<element name="staticLimit" type="double" />
							<element name="sabsCategory" type="string" />
							<element name="professionalCarriers" type="string" />
							<element name="duration" type="string" />
							<element name="staticMaxAmount" type="string" />
							<element name="totalValue" type="string" />
							<element name="transitTotalValue" type="string" />
							<element name="totalValueStatic" type="string" />
							<element name="isFirstLossCover" type="boolean" />
							<element name="isServiceCarrier" type="boolean" />
							<element name="carrierName" type="string" />
							<element name="specificCarrier" type="string" />
							<element name="goodsDescription" type="string" />
							<element name="isStoreVault" type="boolean" />
							<element name="isConcreteSecured" type="boolean" />
							<element name="isGoodsMoved" type="boolean" />
							<element name="isGoodsMovedStatic" type="boolean" />
							<element name="isSeismicDetector" type="boolean" />
							<element name="isCctv" type="boolean" />
							<element name="isAlarmed" type="boolean" />
							<element name="storageType" type="string" />
							<element name="vaultAddress" type="string" />
							<element name="otherSecureMeans" type="string" />
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>


	<element name="QuotationCommandModel">
		<complexType>
			<sequence>
				<element name="reference" type="string" />
                <element name="note" type="string" />
                <element name="premium" type="string" />
                <element name="cover" type="string" />
				<element name="options" minOccurs="0" maxOccurs="unbounded">			
					<complexType>
						<sequence>
							<element name="location" type="string" />
							<element name="commodity" type="string" />
							<element name="limit" type="string" />
							<element name="cover" type="string" />
							<element name="duration" type="string" />
							<element name="excess" type="string" />
							<element name="premium" type="string" />
							<element name="pavement" type="string" />
							<element name="staticLimit" type="string" />
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="PolicyRequestCommandModel">
		<complexType>
			<sequence>
				<element name="reference" type="string" />
				<element name="companyRegNumber" type="string" />
				<element name="vatRegNumber" type="string" />
				<element name="telephoneNumber" type="string" />
				<element name="faxNumber" type="string" />
				<element name="streetAddress" type="string" />
				<element name="suburb" type="string" />
				<element name="postalCode" type="string" />
				<element name="designation" type="string" />
				<element name="buisnessDesc" type="string" />
				<element name="representive" type="string" />
				<element name="accountHolder" type="string" />
				<element name="accountName" type="string" />
				<element name="bankName" type="string" />
				<element name="accountNumber" type="string" />
				<element name="branchCode" type="string" />
				<element name="accType" type="string" />
				<element name="debitOrderDate" type="string" />
				<element name="bankStatement" type="hexBinary" />
				<element name="quotationId" type="long" />
			</sequence>
		</complexType>
	</element>

	<element name="BankAccountCommandModel" type="tns:BankAccountCommandModel" />
	<complexType name="BankAccountCommandModel">
		<sequence>
			<element name="account_number" type="string"></element>
			<element name="accountName" type="string"></element>
			<element name="branch" type="string"></element>
			<element name="bankName" type="string"></element>
			<element name="accountType" type="string"></element>
		</sequence>

	</complexType>

	<element name="ContactCommandModel" type="tns:ContactCommandModel" />
	<complexType name="ContactCommandModel">
		<sequence>
			<element name="email" type="string" />
			<element name="contact_person" type="string" />
			<element name="street" type="string" />
			<element name="code" type="string" />
			<element name="suburb" type="string" />
			<element name="work_tel_number" type="string" />
			<element name="fax_number" type="string" />
		</sequence>
	</complexType>



	<element name="ClientCommandModel" type="tns:ClientCommandModel" />
	<complexType name="ClientCommandModel">
		<sequence>
			<element name="clientName" type="string" />
			<element name="regNumber" type="string" />
			<element name="incomeTaxNumber" type="string" />
			<element name="designation" type="string" />
			<element name="vatNumber" type="string" />
			<element name="bankAccount" minOccurs="0" maxOccurs="1"
				type="tns:BankAccountCommandModel" />
			<element name="contact" minOccurs="0" maxOccurs="1"
				type="tns:ContactCommandModel" />
		</sequence>
	</complexType>



	<element name="UnderwriterCommandModel" type="tns:UnderwriterCommandModel" />
	<complexType name="UnderwriterCommandModel">
		<sequence>
			<element name="firstName" type="string" />
			<element name="middleName" type="string" />
			<element name="lastName" type="string" />
			<element name="email" type="string" />
		</sequence>
	</complexType>



	<element name="SubAgentCommandModel" type="tns:SubAgentCommandModel" />
	<complexType name="SubAgentCommandModel">
		<sequence>
			<element name="brokerId" type="long" />
			<element name="firstName" type="string" />
			<element name="middleName" type="string" />
			<element name="lastName" type="string" />
			<element name="email" type="string" />
		</sequence>
	</complexType>

	<element name="PolicyCreationCommandModel">
		<complexType>
			<sequence>
				<element name="client" minOccurs="0" maxOccurs="1"
					type="tns:ClientCommandModel" />
				<element name="subAgentId" type="long" />
				<element name="underwriterId" type="long" />
				<element name="inceptionDate" type="string" />
				<element name="renewalDate" type="string" />
				<element name="underwritingYear" type="int" />
				<element name="status" type="string" />
				<element name="policyInceptionDate" type="string" />
				<element name="anniversaryDate" type="string" />
				<element name="productName" type="string" />
				<element name="makeModel" type="string" />
				<element name="commodity" type="string" />
				<element name="classOfuse" type="string" />
				<element name="productId" type="string" />
				<element name="sasriaFrequency" type="string" />
				<element name="device" type="string" />
				<element name="frequency" type="string" />
				<element name="umaFee" type="double" />
				<element name="underwriterCommission" type="double" />
				<element name="policyFee" type="double" />
				<element name="initialFee" type="double" />
				<element name="collectByDebitOrder" type="boolean" />
				<element name="excludeSasria" type="boolean" />
				<element name="sumInsured" type="double" />
				<element name="maximumSumInsured" type="double" />
				<element name="brokerCommission" type="double" />
				<element name="premium" type="double" />
				<element name="UACommission" type="double" />
				<element name="sasriaPremium" type="double" />
				<element name="scheduleAttaching" type="string" />
				<element name="typeOfCover" type="string" />
				<element name="subjectMatter" type="string" />
				<element name="excessStructure" type="string" />
				<element name="specialCondition" type="string" />
				<element name="conveyances" type="string" />
				<element name="geographicalDuration" type="string" />
				<element name="IndemnityOption" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="indemnityItemOption" type="string" />
							<element name="indemnityValue" type="string" />
							<element name="sumInsured" type="double" />
							<element name="premium" type="double" />
							<element name="pavement" type="double" />
							<element name="staticLimit" type="double" />
						</sequence>
					</complexType>
				</element>
				<element name="notes" type="string" />
			</sequence>
		</complexType>
	</element>

	<element name="ClaimTypeQueryModel" type="tns:ClaimTypeQueryModel" />
	<complexType name="ClaimTypeQueryModel">
		<sequence>
			<element name="id" type="long"></element>
			<element name="claimType" type="string"></element>
		</sequence>
	</complexType>


	<element name="ClaimQuestionnaireQuery">
		<complexType>
			<sequence>
				<element name="id" type="long"></element>
				<element name="sequenceNumber" type="long"></element>
				<element name="claimTypeId" type="long"></element>
				<element name="question" type="string"></element>
				<element name="claimAnswerType" type="string"></element>
				<element name="ClaimAnswerValues" type="string" minOccurs="0"
					maxOccurs="unbounded">
				</element>
				<element name="isRequired" type="boolean"></element>
			</sequence>
		</complexType>
	</element>

	<element name="RequestTypeQueryModel" type="tns:RequestTypeQueryModel" />
	<complexType name="RequestTypeQueryModel">
		<sequence>
			<element name="id" type="long" />
			<element name="requestType" type="string" />
		</sequence>
	</complexType>


	<element name="RequestQuestionnaireQueryModel" type="tns:RequestQuestionnaireQueryModel" />
	<complexType name="RequestQuestionnaireQueryModel">
		<sequence>
			<element name="id" type="long" />
			<element name="sequenceNumber" type="long" />
			<element name="requestTypeId" type="long" />
			<element name="question" type="string" />
			<element name="requestAnswerType" type="string" />
			<element name="requestAnswerValues" type="string" minOccurs="0"
				maxOccurs="unbounded">
			</element>
			<element name="isRequired" type="boolean"></element>
		</sequence>
	</complexType>


	<element name="PolicyRequestTypeCommandModel" type="tns:PolicyRequestTypeCommandModel" />
	<complexType name="PolicyRequestTypeCommandModel">
		<sequence>
			<element name="requestTypeId" type="long" />
			<element name="policyNo" type="string" />
			<element name="requestQuestionnaire" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="question" type="string" />
						<element name="answer" type="string" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<element name="PolicyRequestTypeQueryModel" type="tns:PolicyRequestTypeQueryModel" />
	<complexType name="PolicyRequestTypeQueryModel">
		<sequence>
			<element name="reference" type="string" />
			<element name="createdDate" type="string" />
			<element name="effectiveDate" type="string" />
			<element name="statusFrom" type="string" />
			<element name="status" type="string" />
			<element name="policy" minOccurs="0" maxOccurs="1"
				type="tns:PolicyQueryModel" />
			<element name="requestType" minOccurs="0" maxOccurs="1"
				type="tns:RequestTypeQueryModel" />
			<element name="requestQuestionnaire" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="question" type="string" />
						<element name="answer" type="string" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<element name="ClaimRequestCommandModel">
		<complexType>
			<sequence>
				<element name="claimNumber" type="string" />
				<element name="reference" type="string" />
				<element name="claimTypeId" type="long" />
				<element name="claimQuestionnaires" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="question" type="string" />
							<element name="answer" type="string" />
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="ClaimRequestQueryModel" type="tns:ClaimRequestQueryModel" />
	<complexType name="ClaimRequestQueryModel">
		<sequence>
			<element name="claimNumber" type="string" />
			<element name="createDate" type="string" />
			<element name="status" type="string" />
			<element name="investigationReportC" type="string" />
			<element name="comfirmationAmountC" type="string" />
			<element name="proofOfPickupC" type="string" />
			<element name="proofOfPaymentC" type="string" />
			<element name="caseNumberC" type="string" />
			<element name="amountBankedC" type="string" />
			<element name="transTrackDocumentC" type="string" />
			<element name="quoteC" type="string" />
			<element name="reportC" type="string" />
			<element name="affidavitC" type="string" />
			<element name="photo1C" type="string" />
			<element name="photo2" type="string" />
			<element name="photo3" type="string" />
			<element name="photo4" type="string" />
			<element name="photo5" type="string" />
			<element name="policy" minOccurs="0" maxOccurs="1"
				type="tns:PolicyQueryModel" />
			<element name="claimType" minOccurs="0" maxOccurs="1"
				type="tns:ClaimTypeQueryModel" />
			<element name="claimQuestionnaire" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="question" type="string" />
						<element name="answer" type="string" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<element name="EndorsementQueryModel" type="tns:EndorsementQueryModel" />
	<complexType name="EndorsementQueryModel">
		<sequence>
			<element name="id" type="long" />
			<element name="policy" minOccurs="1" maxOccurs="1" type="tns:PolicyQueryModel" />
			<element name="endorsementDate" type="string" />
			<element name="inceptionDate" type="string" />
			<element name="renewalDate" type="string" />
			<element name="underwritingYear" type="int" />
			<element name="productName" type="string" />
			<element name="sasriaFrequency" type="string" />
			<element name="device" type="string" />
			<element name="notes" type="string"/>
			<element name="frequency" type="string" />
			<element name="umaFee" type="double" />
			<element name="underwriterCommission" type="double" />
			<element name="policyFee" type="double" />
			<element name="initialFee" type="double" />
			<element name="collectByDebitOrder" type="boolean" />
			<element name="excludeSasria" type="boolean" />
			<element name="sumInsured" type="double" />
			<element name="maximumSumInsured" type="double" />
			<element name="brokerCommission" type="double" />
			<element name="premium" type="double" />
			<element name="UACommission" type="double" />
			<element name="sasriaPremium" type="double" />
			<element name="scheduleAttaching" type="string" />
			<element name="typeOfCover" type="string" />
			<element name="subjectMatter" type="string" />
			<element name="excessStructure" type="string" />
			<element name="specialCondition" type="string" />
			<element name="conveyances" type="string" />
			<element name="geographicalDuration" type="string" />
		</sequence>
	</complexType>
	
	<element name="ReleaseFormCommandModel">
        <complexType>
            <sequence>
            	<element name="claimRequestId" type="integer"></element>
            	<element name="policyNumber" type="string"></element>
                <element name="claimNumber" type="string"></element>
                <element name="insured" type="string"></element>                
                <element name="amountClaim" type="double"></element>
                <element name="lessExcess" type="double"></element>
                <element name="totalPayeble" type="double"></element>
                <element name="goodDescription" type="string"></element>
                <element name="lossDate" type="string"></element>
                <element name="lossDescription" type="string"></element>
            </sequence>
        </complexType>
    </element>
   <element name="ReleaseFormQueryModel">
        <complexType>
            <sequence>
            	<element name="claimRequestId" type="integer"></element>
            	<element name="policyNumber" type="string"></element>
                <element name="claimNumber" type="string"></element>
                <element name="insured" type="string"></element>                
                <element name="amountClaim" type="double"></element>
                <element name="lessExcess" type="double"></element>
                <element name="totalPayeble" type="double"></element>
                <element name="goodDescription" type="string"></element>
                <element name="lossDate" type="string"></element>
                <element name="lossDescription" type="string"></element>
            </sequence>
        </complexType>
    </element>
</schema>