src/main/resources/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.example.org/NewXMLSchema" 
	xmlns:tns="http://www.example.org/NewXMLSchema" 
	elementFormDefault="qualified">
	
	<complexType name="baseType">
		<sequence>
			<element name="a" type="string"></element>
			<element name="b" type="string"></element>
		</sequence>
	</complexType>
	
	<complexType name="theme1Type">
		<complexContent>
			<extension base="tns:baseType">
				<sequence>
					<element name="c" type="string"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<element name="theme1" type="tns:theme1Type"></element>
</schema>